body {
    font-family: Arial, sans-serif;
    background:  rgba(47, 0, 255, 0.411);
    color: rgba(255, 255, 255, 0.678);
    text-align: center;
    margin: 0;
    padding: 0;
}

#game-container {
    width: 200px ;
    margin: 40px auto;
    padding: 24px;
    background: rgba(0, 0, 0, 0.541);
    border-radius:12px;
    box-shadow: 0 4px 32px rgba(0,0,0,0.5);

}

h1 {
    margin-top: 0 auto;
    color: yellowgreen;
    letter-spacing: 2px;
}

#controls {
    margin-bottom: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#score, #time {
    font-size: 1.1em;
    font-weight: bold;
    margin: 0 12px;
}
#playButton {
    padding: 8px 32px;
    font-size: 1.1em;
    background: yellowgreen;
    color: #181818;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s;
}
#playButton:disabled {
    background: #888;
    color: snow;
    cursor: not-allowed;
}
#board {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    max-width: 100%;
    width: 600px;
    height: 600px;
}
#board div {
    border: 1px solid rgba(211, 211, 211, 0.993);
    display: inline-block;
}
.cell {
    border: 1px solid #23232300;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0) ;
}
.snake {
    background: rgba(182,205,50);
}

.food {
    background: rebeccapurple;
}